@tailwind base;
@tailwind components;
@tailwind utilities;



/* Breakpoints
 *  es     sm     md     lg     xl     xxl
 * 576px  576px  768px  992px  1200px 1400px
 */



/* --------------------------- COLOR THEME --------------------------- */
$text-primary: #222222;
$bg-primary: #EBECF2;
$bg-secondary: #D9D9D9;
$gradient-primary-c1: hsla(185, 100%, 75%, 1);
$gradient-primary-c2: hsla(225, 100%, 75%, 1);
$gradient-primary-c3: hsla(265, 100%, 75%, 1);
$gradient-primary: linear-gradient(60deg, $gradient-primary-c1 0%, $gradient-primary-c2 50%, $gradient-primary-c3 100%);

$neu-fill-c1: #D4D4DA;
$neu-fill-c2: #FBFDFF;
$neu-shadow-c1: #FFFFFF;
$neu-shadow-c2: #BCBDC2;



/* --------------------------- BODY+NAVBAR --------------------------- */
body {
    min-height: 100vh;
    min-height: 100dvh;
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;

    // ! Use Google font inside <head> instead of next/font/google (temp)
    // font-family: var(--font-space-grotesk), var(--font-noto-sans-tc);
    font-family: "Space Grotesk", "Noto Sans TC", sans-serif;
}

.nav-link {
    --spacing: 0.2em;
    position: relative;
    
    letter-spacing: var(--spacing);
    text-transform: uppercase;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: calc(100% - var(--spacing));
    height: 0.1rem;
    left: 0;
    bottom: -0.15em;

    background: $text-primary;
    border-radius: 100vw;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}



/* -------------------------- HOME PAGE -------------------------- */
.banner {
    height: 100vh;
    height: 100svh;
}



/* ---------------------------- TEXTS ---------------------------- */
h1, h2 {
    max-width: fit-content;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

p {
    font-size: 1em;
    line-height: 2;
    text-align: justify;
}



/* ---------------------------- STYLE ---------------------------- */
.card {
    $radius: 3rem;
    $gap: 1.5rem;
    display: grid;
    padding: $gap;
    gap: 1rem;
    border: 2px $text-primary solid;
    border-radius: $radius;
    
    img {
        aspect-ratio: 4 / 5;
        border-radius: $radius - $gap;
        object-fit: cover;
    }
    div {
        span {
            color: $gradient-primary-c2;
        }
    }
}

.pill {
    border-radius: 100vw;
}

.bg-primary {
    background-color: $bg-primary;
}
.bg-primary-invert {
    background-color: $text-primary;
}

.text-primary {
    color: $text-primary;
}
.text-primary-invert {
    color: $bg-primary;
}



/* -------------------------- SELECTION -------------------------- */
::selection, ::-webkit-selection {
    color: $bg-primary;
    text-fill-color: $bg-primary;
    -moz-text-fill-color: $bg-primary;
    -webkit-text-fill-color: $bg-primary;
    background: $text-primary;
}



/* -------------------------- SCROLLBAR -------------------------- */
$scrollbar-width: 24px;
::-webkit-scrollbar {
    width: calc(0.6 * $scrollbar-width);
    background: transparent;
    overflow-y: hidden;
}
::-webkit-scrollbar-thumb {
    border: calc(0.2 * $scrollbar-width) solid transparent;
    background: $text-primary;
    border-radius: calc(0.6 * $scrollbar-width);
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    border: calc(0.2 * $scrollbar-width) solid transparent;
    background: $gradient-primary;
    border-radius: calc(0.6 * $scrollbar-width);
    background-clip: content-box;
}
::-webkit-scrollbar-corner {
    border-radius: calc(0.6 * $scrollbar-width);
}