@tailwind base;
@tailwind components;
@tailwind utilities;



/* --------------------------- BREAKOPINTS ---------------------------
 *  sm     md     lg     xl     xxl
 * 576px  768px  992px  1200px 1400px
 */



/* --------------------------- COLOR THEME --------------------------- */
$font-montserrat: var(--font-montserrat);
$font-noto-sans-tc: var(--font-noto-sans-tc);

$text-primary: #222222;
$text-secondary: #B0B1B5;
$bg-primary: #EBECF2;
$bg-secondary: #D9D9D9;
$accent-color: #FFA741;
$link-color: #196895;

$neu-fill-c1: #D4D4DA;
$neu-fill-c2: #FBFDFF;
$neu-shadow-c1: #FFFFFF;
$neu-shadow-c2: #BCBDC2;



/* --------------------------- NAVBAR+BODY --------------------------- */
body {
    overflow-x: hidden;
    overflow-y: overlay;

    font-family: "Montserrat", "Noto Sans TC", sans-serif;
}

.nav-link {
    --spacing: 0.2em;
    position: relative;
    
    letter-spacing: var(--spacing);
    text-transform: uppercase;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: calc(100% - var(--spacing));
    height: 0.1rem;
    left: 0;
    bottom: -0.15em;

    background: $text-primary;
    border-radius: 100vw;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}



/* ----------------------------- 3D_MENU ----------------------------- */
.menu {
	perspective: 500px;
}

.top, .bottom {
    font-weight: 500;
}

.top {
	transform: rotateX(45deg) scale(0.9);
	color: grey;
}
.active {
    font-weight: 700;
	transform: rotateX(0deg) scale(1.1);
}
.bottom {
	transform: rotateX(-45deg) scale(0.9);
	color: grey;
}



/* ---------------------------- TEXTS ---------------------------- */
h1, h2 {
    max-width: fit-content;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.3;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2;
}

p {
    font-size: 1em;
    line-height: 2;
    text-align: justify;
}

span {
    height: fit-content;
    line-height: 1.2;
    text-align: justify;
}



/* ---------------------------- CLASS ---------------------------- */
.school {
    $offset: 2.5ch;
    position: relative;
    transform: translateX(1.25 * $offset);

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 5px;
        height: 100%;
        top: 0;
        left: - $offset;
        background-color: $accent-color;
    }
}

.grad-school {
    &::after {
        content: ' (2023 ~)';
    }
}

.expertise {
    &::after {
        content: ' (2019 ~ 2023)';
    }
}

.high-school {
    &::after {
        content: ' (2016 ~ 2019)';
    }
}

.social-media {
    a {
        color: $link-color;
        text-decoration: none;
    }
}



/* ---------------------------- STYLE ---------------------------- */
.card {
    $radius: 3rem;
    $gap: 1.5rem;
    display: grid;
    padding: $gap;
    gap: 1rem;
    border: 2px $text-primary solid;
    border-radius: $radius;
    
    img {
        aspect-ratio: 4 / 5;
        border-radius: $radius - $gap;
        object-fit: cover;
    }
}

.pill {
    border-radius: 100vw;
}

.bubble {
    --size: 1.2em;
  
    width: fit-content;
    max-width: 70%;
    display: inline-block;
    padding-top: calc(0.5 * var(--size));
    padding-bottom: calc(0.5 * var(--size));
    padding-left: calc(1 * var(--size));
    padding-right: calc(1 * var(--size));
  
    font-size: var(--size);
    border-radius: var(--size);
  
    &.bubble-left {
        justify-content: flex-start;
        text-align: start;
        border-radius: var(--size) var(--size) var(--size) calc(0.25 * var(--size));
        background-color: $text-secondary;
        transform-origin: bottom left;
    }
  
    &.bubble-right {
        margin-left: auto;
        margin-right: 0;
  
        justify-content: flex-end;
        text-align: end;
        border-radius: var(--size) var(--size) calc(0.25 * var(--size)) var(--size);
        background-color: $accent-color;
        transform-origin: bottom right;
    }
  
    @media screen and (min-width: 768px) {
        --size: 1.5em;
    }
    @media screen and (min-width: 1400px) {
        --size: 1.65em;
    }
}
  

.blockquote {
    display: grid;
    grid-template-columns: 2em 1fr;
    align-items: center;
    position: relative;
    border-radius: 0.2em;

    .bq-icon {
        display: grid;
        inset: 0;
        place-content: center;
        height: 1.75em;
        place-self: start;
        background: none;
    }
}
@media screen and (min-width: 768px) {
    .blockquote {
        row-gap: 2rem;
        grid-auto-flow: column;
        grid-template-columns: none;
        grid-template-rows: 2em 1fr;
        justify-items: center;
    }
    .bq-icon {
        place-self: center !important;
    }
}

.bg-primary {
    background-color: $bg-primary;
}
.bg-primary-invert {
    background-color: $text-primary;
}
.bg-accent {
    background-color: $accent-color;
}

.text-primary {
    color: $text-primary;
}
.text-primary-invert {
    color: $bg-primary;
}

.text-secondary {
    color: $text-secondary;
}



/* -------------------------- SELECTION -------------------------- */
::selection, ::-webkit-selection {
    color: $bg-primary;
    text-fill-color: $bg-primary;
    -moz-text-fill-color: $bg-primary;
    -webkit-text-fill-color: $bg-primary;
    background: $text-primary;
}



/* -------------------------- SCROLLBAR -------------------------- */
$scrollbar-width: 24px;
::-webkit-scrollbar {
    width: calc(0.6 * $scrollbar-width);
    background: transparent;
    overflow-y: hidden;
}
::-webkit-scrollbar-thumb {
    border: calc(0.2 * $scrollbar-width) solid transparent;
    background: $text-primary;
    border-radius: calc(0.6 * $scrollbar-width);
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    border: calc(0.2 * $scrollbar-width) solid transparent;
    background: $accent-color;
    border-radius: calc(0.6 * $scrollbar-width);
    background-clip: content-box;
}
::-webkit-scrollbar-corner {
    border-radius: calc(0.6 * $scrollbar-width);
}